/* toggle for opening shared picture view as file list */
#openAsFileListButton {
	float: right;
	margin-right: 4px;
	margin-top: 5px;
	font-weight: normal;
}

#openAsFileListButton img {
	vertical-align: text-top;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: .5;
}
