/* toggle for opening shared picture view as file list */
#openAsFileListButton {
	float: right;
	margin-top: 5px;
	font-weight: normal;
	background-color: transparent;
	border: none;
}

#openAsFileListButton img {
	vertical-align: text-top;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: .3;
}
