/* Gallery buttons design  */

#controls .button.view-switcher {
	float: right;
	margin-right: 4px;
	margin-top: 5px;
	font-weight: normal;
	width: 40px;
	padding: 8px 11px;
}

#controls .button.sorting {
	padding: 8px 7px;
}

#controls .button.left-switch-button {
	float: left;
	display: inline;
	border-radius: 3px 0 0 3px;
	margin-left: 3px;
	margin-right: 0;
	border-right: 0;
}

#controls .button.right-switch-button {
	float: left;
	display: inline;
	border-radius: 0 3px 3px 0;
	margin-left: -1px;
}

.button.left-switch-button img,
.button.right-switch-button img {
	vertical-align: -3px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.6;
}

#controls .disabled-button {
	pointer-events: none;
	background-color: rgb(230, 230, 230);
}

#controls .disabled-button img {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	opacity: 0.25;
}

#controls .disabled-button:hover,
#controls .disabled-button:focus,
#controls .disabled-button a:focus,
#controls .disabled-button.loading {
	background-color: rgba(255, 255, 255, .95);
	color: #111;
}

#share-button img,
.button.left-switch-button img,
.button.right-switch-button img {
	vertical-align: -3px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.6;
}
