@media only screen and (max-width: 768px) {

/* make header and controls bar scroll up for more view of content on small screens */
#header,
#controls {
	position: absolute !important;
	top: 0;
}

/* adjust share dropdown */
#dropdown {
	margin-right: 0 !important;
}

/* smaller images for smaller screens, fit 2 to width */
#gallery > a > img,
#gallery > a.image > img {
	max-height: 100%;
	max-width: 100%;
}
#gallery > a,
#gallery > a.album {
	max-height: 100px;
	max-width: 100px;
}


}
