@media only screen and (max-width: 768px) {

/* make header and controls bar scroll up for more view of content on small screens */
#header,
#controls {
	position: absolute !important;
	top: 0;
}

/* adjust share dropdown */
#dropdown {
	margin-right: 0 !important;
}

}
