body {
	position: absolute;
	height: 100%;
	width: 100%;
}

#content {
	/* #content is the previous sibling of the footer, so its height must match
	 * the height of its child elements to prevent the footer from overlapping
	 * them. The server sets "height: 100%" for #content, so that value has to
	 * be overriden. */
	height: auto;
	min-height: calc(100vh - 103px); /* 45px(#controls) + 58px(footer) = 103px */
}

/* height fix for ie11 */
html.ie #content {
	height: auto;
}

#gallery.hascontrols {
	padding-bottom: 0;
}

#controls .buttons {
	display: flex;
	flex: 1 1;
}
