/* IE 8 is not supported in the photowall */

/** Preloading icons */
body:after {
	display: none;
	content: url("../img/nameasc.svg") url("../img/namedes.svg") url("../img/dateasc.svg") url("../img/datedes.svg");
}

#breadcrumbs {
	float: left;
}

.breadcrumbs-droppable {

}

.breadcrumbs-droppable-hover {
	transform: scale(1.1);
	-webkit-transition: transform .1s ease-in;
	transition: transform .1s ease-in;
}

div.crumb.last a {
	cursor: default;
}

#controls .button {
	margin-top: 5px;
	width: 40px;
}

#controls > .right {
	float: right;
}

#album-info-button {
	position: relative;
}

#album-info-button img {
	vertical-align: -3px;
}

.album-info-container {
	background-color: #eee;
	border-bottom-left-radius: 5px;
	box-shadow: 0 1px 1px #777;
	display: none;
	z-index: 600;
	width: 420px;
	position: absolute;
	top: 43px;
	right: 0;
	padding: 16px;
	overflow-y: auto;
}

.album-info-loader {
	top: 50%;
	left: 50%;
	z-index: -100;
	position: absolute !important;
	width: 32px;
	height: 32px;
	background-size: 32px 32px;
}

.album-info-content ul {
	list-style: initial;
}

#content-wrapper {
	background-color: #fff;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: background-color 1s linear;
	transition: background-color 1s linear;
}

#gallery.hascontrols {
	position: relative;
	overflow: hidden;
	text-align: justify;
	top: 45px;
	padding-bottom: 10px;
	margin-bottom: 45px;
	margin-top: 0;
}

#gallery .row {
	line-height: 0;
	width: 100%;
	white-space: nowrap;
}

#gallery .row:first-child {
	margin-top: 2px;
}

#gallery .row a:first-child {
	margin-left: 4px;
}

a.row-element {
	position: relative;
	display: inline-block;
	height: auto;
	padding: 0;
	margin: 2px;
	vertical-align: top;
	-webkit-transition: transform .2s ease-in-out;
	transition: transform .2s ease-in-out;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-touch-callout:none;
}

.album-droppable {
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
}

.album-droppable .album {
	background: repeating-linear-gradient(
			45deg,
			transparent,
			transparent 20px,
			rgba(0, 0, 0, .3) 20px,
			rgba(0, 0, 0, .3) 40px
	);
}

.album-droppable .album .cropped {
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
}

.album-droppable-hover {
	transform: scale(1.0);
	-webkit-transform: scale(1.0);
	-webkit-transition: transform .1s ease-in;
	transition: transform .1s ease-in;
}

a.row-element .container {
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

a.row-element > .album-loader,
a.row-element > .image-loader {
	position: absolute;
	z-index: 11;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

a.row-element > .album-label {
	display: inline-block;
	color: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 18px;
	line-height: normal;
	box-sizing: border-box;
	padding: 5px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	z-index: 11;
	word-break: break-all;
}

a.row-element > .image-label {
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 5px;
	overflow-x: hidden;
	z-index: 11;
	word-break: break-all;
}

a.row-element > .album-label,
a.row-element > .image-label {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: opacity 200ms linear;
	opacity: 1;
	background-image: linear-gradient(rgba(0,0,0,0) 65%,rgba(0,0,0,0.35));
}

a.row-element > .image-label .title,
a.row-element > .album-label .title {
	display: inline-block;
	color: #fff;
	text-align: center;
	font-size: 13px;
	line-height: normal;
	width: 100%;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	left: 0;
	bottom: 10px;
	position: absolute;
}

a.row-element > .image-label .title:hover,
a.row-element > .album-label .title:hover {
	overflow: visible;
	white-space: normal;
}

a.row-element > .album > img {
	max-width: 200px;
	max-height: 200px;
	position: relative;
	float: left;
	margin: 1px;
}

/* make focus visible for keyboard users */
a.row-element:focus,
a.row-element > .album:focus {
	opacity: .5;
}

a.row-element .image > img {
	max-height: 200px;
}

#gallery .cropped,
#gallery .row {
	opacity: 0.5;
	-webkit-transition: opacity 500ms;
	transition: opacity 500ms;
}

a.row-element .album .cropped {
	position: relative;
	float: left;
	margin: 1px;
	background-position: center;
	background-size: cover;
}

a.row-element .album .icon-loading,
a.row-element .icon-loading {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#gallery > h2 {
	background: #f7f7f7;
	height: 2.8em;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	vertical-align: middle;
	font-weight: bold;
	padding: 0.5em;
	padding-left: 2em;
}

/*Original ribbon design by Comatosed
http://www.bypeople.com/author/comatosed/*/
.ribbon {
	top: 0;
	right: 3px;
	display: none;
	width: 7px;
	position: absolute;
	color: #fff;
	padding: 10px 0 0;
}

.ribbon:before {
	display: block;
	width: 7px;
	height: 0;
	position: absolute;
	top: 5px;
	content: "";
	border-top: 1px dotted rgba(0, 0, 0, 0.2);
	border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
}

.ribbon:after {
	display: block;
	width: 0;
	height: 0;
	content: "";
	position: relative;
	bottom: -2px;
	z-index: 100;
	border-width: 0 3px 2px 4px;
	border-style: solid;
}

.ribbon.black {
	background-color: #bbb;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #aaa, #bbb);
	background-image: -ms-linear-gradient(top, #aaa, #bbb);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aaa), color-stop(100%, #bbb));
	background-image: -webkit-linear-gradient(top, #aaa, #bbb);
	background-image: -o-linear-gradient(top, #aaa, #bbb);
	background-image: linear-gradient(top, #aaa, #bbb);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaa', endColorstr='#bbb', GradientType=0);
}

.ribbon.black:after {
	border-color: #bbb #bbb transparent #bbb;
}

.icon-gallery {
	background-image: url('../img/gallery-dark.svg');
}

.mask {
	z-index: 50;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	background-repeat: no-repeat no-repeat;
	background-position: 50%;
	opacity: 0.5;
	transition: opacity 100ms;
	-moz-transition: opacity 100ms;
	-o-transition: opacity 100ms;
	-ms-transition: opacity 100ms;
	-webkit-transition: opacity 100ms;
}

.mask.transparent {
	opacity: 0;
}

.icon-loading-dark.small {
	background-size: 16px;
}
