/* Uploading */
.oc-dialog .fileexists .icon {
	background-position: center center;
	background-size: cover !important;
}

#uploadprogressbar {
	margin-top: 5px;
}

.stop.icon-close {
	margin-top: 5px;
}

.actions {
	padding: 5px;
}

.actions input, .actions button, .actions .button {
	margin: 0;
	float: left;
}

.actions .button a {
	color: #555;
}

.actions .button a:hover,
.actions .button a:focus,
.actions .button a:active {
	color: #333;
}

.actions.creatable {
	position: relative;
	z-index: -30;
	display: flex;
	flex: 1 1;
}

.newFileMenu {
	font-weight: 300;
	top: 100%;
	margin-top: 4px;
	min-width: 100px;
	margin-left: 3px;
	z-index: 1001;
}

.newFileMenu .error {
	color: #e9322d;
	border-color: #e9322d;
	-webkit-box-shadow: 0 0 6px #f8b9b7;
	-moz-box-shadow: 0 0 6px #f8b9b7;
	box-shadow: 0 0 6px #f8b9b7;
}

.newFileMenu.popovermenu .menuitem .icon {
	margin-bottom: -2px;
}

.newFileMenu .filenameform {
	display: inline-block;
}

.newFileMenu .filenameform input {
	margin: 2px 0;
}

#fileList .popovermenu .action {
	display: block;
	line-height: 30px;
	padding-left: 5px;
	color: #000;
	padding: 0;
}
