<phpunit bootstrap="../../lib/base.php"
		 verbose="true"
		 timeoutForSmallTests="900"
		 timeoutForMediumTests="900"
		 timeoutForLargeTests="900"
		 colors="true">
	<testsuites>
		<testsuite name="unit">
			<directory>./tests/unit</directory>
		</testsuite>
	</testsuites>
	<!-- filters for code coverage -->
	<filter>
		<whitelist>
			<directory suffix=".php">../gallery</directory>
			<exclude>
				<directory suffix=".php">../gallery/l10n</directory>
				<directory suffix=".php">../gallery/templates</directory>
				<directory suffix=".php">../gallery/tests</directory>
				<directory suffix=".php">../gallery/vendor</directory>
			</exclude>
		</whitelist>
	</filter>
	<logging>
		<!-- and this is where your report will be written -->
		<log type="coverage-php" target="./tests/unit-clover.cov"/>
	</logging>
</phpunit>