<div id="slideshow" class="icon-loading-dark">
	<input type="button" class="svg next icon-view-next"/>
	<input type="button" class="svg play icon-view-play"/>
	<input type="button" class="svg pause icon-view-pause"/>
	<input type="button" class="svg previous icon-view-previous"/>
	<input type="button" class="svg exit icon-view-close"/>
	<input type="button" class="svg downloadImage icon-view-download"/>

	<div class="progress icon-view-pause"/>
	<div class="notification">
		<strong>Error!</strong> Could not generate a preview of this file.<br>Please go to the next
		slide while we remove this image from the slideshow
	</div>
</div>
