---
# Gallery configuration file
features:
  external_shares: yes
  native_svg: no
design:
  background: "#ff9f00"
  inherit: yes
information:
  description: | # This is the official **Gallery** sample folder
    Contribute to this project [on Github](https://github.com/owncloud/gallery)
  copyright: Copyright 2014-2015 [Acme](http://www.ubersecrettester.ninja)
  inherit: yes
sorting:
  type: date
  order: des
  inherit: yes
