---
# Gallery configuration file
features:
  external_shares: yes
  native_svg: yes
design:
  background: "#000000"
  inherit: yes
information:
  description: This is the sharer collection
  copyright: Copyright 2015 [Acme](http://www.ubersecretsharer.ninja)
  inherit: yes
sorting:
  type: name
  order: asc
  inherit: yes
